# dependencies
node_modules/

# production
build/
dist/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# cache
.cache/
.parcel-cache/

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# optional eslint cache
.eslintcache

# optional stylelint cache
.stylelintcache

# vite
.vite/
